body{
	background-image: url(1.png);
}
.myForm, .btn{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}
.myForm input{
	background-color: #FBFBF9;
	width: 100%;
	height: 40px;
}
.btn button{
	margin-top: 18px;
	width: 40%;
	height: 35px;
}
#tb {
	margin-top: 20px;
	width: 100%;
}